#cluster-map {
    width: 100%;
    height: 650px;
}

#cluster-map-groups {
    width: 100%;
    height: 400px;
}

#cluster-map-users {
    width: 100%;
    height: 400px;
}

#cluster-map-explore {
    width: 100%;
    height: 600px;
}

#cluster-map-initiatives {
    width: 100%;
    height: 400px;
}

#map {
    width: 100%;
    height: 300px;
}

.carousel {
    height: 300px;
}

#login {
    width: 300px;
}
#homeText {
    background-color:black;
    opacity: 50%;
}

#homeText2 {
    background-color:black;
    opacity: 50%;
}

.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {
    border-bottom-color: white;
    color: white;
}

.btn-secondary, .btn-secondary:hover {
    color: #333;
    text-shadow: none;
}

.nav-link.active {
    color: white;
    border-bottom-color: white
}

body {
    background-color: #2f0231;
}

/* .carousel-inner {
    max-height: 400px !important;
} */

