<% layout('/layouts/boilerplate')%>
<h1>EXPLORE</h1>
<h3>Coming Soon!</h3>
<p>This page is under construction. It currently shows initiatives, groups, and users all on one map.
    In version 1 you will be able to use this page to search and filter through group, initiative, and other user pages. This will be your avenue to connection and action!
</p>
<div id="cluster-map-explore">
</div>
<div>
    <form action="/explore/search" method="GET" novalidate>
        <input type="text" id="keywords">
        <button>Submit</button>
    </form>
</div>

<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const groups = {features: <%- JSON.stringify(groups) %>}
    const users = {features: <%- JSON.stringify(users) %>}
    const initiatives = {features: <%- JSON.stringify(initiatives) %>}    
</script>

<script src="/javascripts/clusterMapExplore.js"></script>