<% layout('/layouts/boilerplate')%>
<h1>EXPLORE</h1>
<div id="cluster-map-explore">
</div>
<div>
    <form action="/explore/search" method="GET" novalidate>
        <input type="text" id="keywords">
        <button>Submit</button>
    </form>

</div>

<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const groups = {features: <%- JSON.stringify(groups) %>}
    const users = {features: <%- JSON.stringify(users) %>}
</script>

<script src="/javascripts/clusterMapExplore.js"></script>