<% layout('layouts/boilerplate')%>
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
          <div class="card shadow">
            <form action="/login" method="POST" class="to-validate" novalidate>
                <div class="mb-3">
                <label class="form-label" for="username">Username</label>
                <input class="form-control" type="text" id="username" name="username" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control" type="password" id="password" name="password" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>    
            <button class="btn btn-success">Log In!</button>
            </form>
          </div>
      </div>  
    </div>
</div>