<% layout('layouts/boilerplate')%>

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-xl-8 offset-xl-2">
            <div class="card shadow">
                <img src=../../images/logoD2.png
                    alt="" class="card-img-top" id="logoCard" />
                <div class="card-body">
                    <h5 class="card-title text-center">Login</h5>
                    <form action="/users/login" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Email:</label>
                            <input class="form-control" type="text" id="username" name="username" autofocus required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="password">Password:</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <button class="btn text-center btn-success btn-block">Login</button>
                        <p class="card-body mt-2">Lost password? Email jdubin@thebeaconnetwork.org.</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>