<% layout('layouts/boilerplate')%>

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-xl-6 offset-xl-3">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="card-title text-center mt-3">Thanks for Signing Up!</h1>
                </div>
                <img src="../images/BeaconLogo1.png"
                    alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                        <p>Thanks for helping us test the app! <b>Create an account to join and support group and initiative pages.</b> Once you're logged in, explore groups and initiatives, and find other users, through the navigation bar at the top of this page.</p>
                        <p>This is all just for testing purposes. <b>Feel free to create pages for real groups or causes you represent, or to just make up pages for fun, but understand that all of the data you provide may be lost before version 1 launches.</b> So don't get attached to anything you do here just yet!</p>
                        <p>As an extra security precaution at this early stage, <b>please do not use a password for Beacon that you use for other important accounts.</b></p>
                        <p><b>Thanks again, and have fun!</b></p>
                        <form action="/users/register" method="POST" class="to-validate" enctype="multipart/form-data" novalidate>
                        <div class="mb-3">
                            <!-- <label class="form-label" for="username"><b>Username</b> - use this to login - must be unique</label>
                            <input class="form-control" type="text" id="username" name="username" required autofocus>
                            <div class="valid-feedback">
                                Looks good!
                            </div> -->
                            <div class="mb-3">
                                <label class="form-label" for="email"><b>Name</b> - this will be displayed to other users</label>
                                <input class="form-control" type="name" id="name" name="name" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="email"><b>Email</b> - this is just for our records, and will not be seen by other users</label>
                                <input class="form-control" type="email" id="email" name="email" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password"><b>Password</b></label>
                                <input class="form-control" type="password" id="password" name="password" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <!-- <div class="mb-3">
                                <label for="image" class="form-label">Add a Profile Picture!</label>
                                <input class="form-control" type="file" name="image" id="image" multiple>
                            </div> -->
                            <div class="mb-3">
                                <label class="form-label" for="location"><b>Location</b> - this will be displayed, be as specific or general as you wish</label>
                                <input class="form-control" type="text" id="location" name="location" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <!-- <div class="mb-3">
                                <label class="form-label" for="bio"><b>Bio</b> - what do you want other users to know about you?</label>
                                <textarea class="form-control" type="text-area" id="bio" name="bio"></textarea>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="image" class="form-label"><b>Add image(s)</b> - at least one picture of yourself goes a long way to making the internet into a more human place!</label>
                                <input class="form-control" type="file" name="image" id="image" multiple>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="offerings"><b>Interests</b> - what do you want to connect with others about?</label>
                                <textarea class="form-control" type="text-area" id="interests" name="interests"></textarea>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>   
                            <div class="mb-3">
                                <label class="form-label" for="offerings"><b>Offerings</b> - is there anything you would like to offer your communities and connections?</label>
                                <textarea class="form-control" type="text-area" id="offerings" name="offerings"></textarea>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>    
                            <div class="mb-3">
                                <label class="form-label" for="needs"><b>Needs</b> - how can your communities and connections support you?</label>
                                <textarea class="form-control" type="text-area" id="needs" name="needs"></textarea>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>             -->
                        </div>
                        <button class="btn btn-success btn-block">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


