<% layout('layouts/boilerplate')%>

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="../images/BeaconLogo1.png"
                    alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <p>While the password creation and maintenance for this username will be secure, this page still is not, 
                        so <b>do not use a real password you use for any other accounts</b>, or put up any personal info you don't 
                        want out there on the world wide web! This will be fixed before beta launches!</p>
                        <p><b>DO NOT USE A REAL PASSWORD!</b></p>
                        <p>Thanks for helping me test at this early stage! I'm sure you'll find plenty of bugs along the way!</p>
                    <form action="/users/register" method="POST" class="to-validate" enctype="multipart/form-data" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username - use this to login</label>
                            <input class="form-control" type="text" id="username" name="username" required autofocus>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="email">Name - this will be displayed to other users</label>
                                <input class="form-control" type="name" id="name" name="name" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="email">Email</label>
                                <input class="form-control" type="email" id="email" name="email" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="password" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <!-- <div class="mb-3">
                                <label for="image" class="form-label">Add a Profile Picture!</label>
                                <input class="form-control" type="file" name="image" id="image" multiple>
                            </div> -->
                            <div class="mb-3">
                                <label class="form-label" for="location">Location</label>
                                <input class="form-control" type="text" id="location" name="location" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="bio">Bio</label>
                                <textarea class="form-control" type="text-area" id="bio" name="bio"></textarea>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="image" class="form-label">Add image(s)</label>
                                <input class="form-control" type="file" name="image" id="image" multiple>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="offerings">Interests</label>
                                <textarea class="form-control" type="text-area" id="interests" name="interests"></textarea>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>   
                            <div class="mb-3">
                                <label class="form-label" for="offerings">Offerings</label>
                                <textarea class="form-control" type="text-area" id="offerings" name="offerings"></textarea>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>    
                            <div class="mb-3">
                                <label class="form-label" for="needs">Needs</label>
                                <textarea class="form-control" type="text-area" id="needs" name="needs"></textarea>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>            
                        </div>
                        <button class="btn btn-success btn-block">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


